{% extends "base.html" %}
{% block body %}
<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">ALL LANGUAGES</h1>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box nobox">
            <div class="content-body">

                <div class="row">
                    <h4 style="font-weight:bold;margin: 12px;">Add New language</h4>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <form action="{{url_for('LanguageView:language')}}" method="POST"
                              enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                {{form.lang_name.label}} {{form.lang_name(class="form-control")}}<br>
                            </div>
                            <div class="form-group">
                                {{ form.lang_image.label }}
                                {{ form.lang_image(class="form-control") }}
                            </div>
                            {{form.submit(class="btn btn-primary")}}
                        </form>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-9 col-sm-12 col-xs-12">

                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">

                    </div>

                    <div class="clearfix"></div>
                    <br>

                    <div class="col-md-12 col-sm-12 col-xs-12 search_data">
                        <div class="row">
                            <div class="col-md-8">
                                <form method="post" action="">

                                    <div class="form-group">

                                        <small class="form-text text-muted" style='color:red;'><!-- error1 --></small>
                                    </div>

                                    <div class="form-group">
                                        <label for=""><!-- label2 --></label>
                                        <small class="form-text text-muted" style='color:red;'><!-- error2 --></small>

                                    </div>


                                    <div class="form-group">
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">

                                <table id="example-1" class="table table-striped dt-responsive display" cellspacing="0"
                                       width="100%">
                                    <thead>

                                    <tr>
                                        <!-- <th>Page Title</th> -->
                                        <th>Language Name</th>
                                        <th>Image</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for language in languages %}
                                    <tr>

                                        <td><a href="{{url_for('LevelView:level',id=language.language_id)}}">{{language.language_name}}</a>
                                        </td>
                                        <td><img height="60px" width="60px" class="img-responsive"
                                                 src="{{url_for('static', filename='language/')}}{{language.language_image}}"
                                                 alt="language image"></td>
                                        <td>
                                            <a href="{{url_for('LanguageView:update_language',id=language.language_id)}}"
                                               class="btn btn-info">Update</a>
                                        </td>
                                        <td>
                                            <a href="{{url_for('LanguageView:delete_language',id=language.language_id)}}"
                                               class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
    </div>
</section>


</section>
{% endblock %}