<section class="box">

    <header class="panel_header">
        <h2 class="title pull-left">Simple Sentence Translation</h2>
        <div class="actions panel_actions pull-right">
            <i class="box_toggle fa fa-chevron-down"></i>
            <i class="box_close fa fa-times"></i>
        </div>
    </header>
    <div class="content-body">
        <form action="{{url_for('LessonView:group',id=group.group_id)}}" method="POST"
              enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group row">
                <label>Sentence</label>
                <input type="text" name="sentence" id="sentence" class="form-control"
                       required/>
            </div>

            <div class="form-group row">

                <div id="words"></div>
            </div>

            <div class="form-group row">
                <label>Real Meaning <span style="color:red;">Leave empty, if you don't want to add</span></label>
                <input type="text" name="real_meaning" id="real_meaning" class="form-control"/>
            </div>

            <div class="form-group row">
                <label>Secondary Meaning <span style="color:red;">Leave empty, if you don't want to add</span></label>
                <input type="text" name="secondary_meaning" id="secondary_meaning" class="form-control"/>
            </div>


            <div class="form-group row">
                <label style="color:green;">Translation</label>
                <input style="color:green;font-weight:bold;" type="text" name="translation" id="translation" class="form-control"
                       required/>

            </div>

            <div class="form-group row">
                <label>Sentence type</label>
                <select class="form-control" name="sentence_type" required>
                    <option value='N'>Neutral</option>
                    <option value='N/P'>Neutral Plural</option>
                    <option value='N/S'>Neutral Singular</option>
                    <option value="M">Masculine</option>
                    <option value="M/S">Masculine Singular</option>
                    <option value="M/P">Masculine Plural</option>
                    <option value="F">Feminine</option>
                    <option value="F/S">Feminine Singular</option>
                    <option value="F/P">Feminine Plural</option>
                </select>

            </div>

            <div class="form-group row">
                <label>Answer to type?</label>
                <input type="checkbox" name="answer_to_type" id="answer_to_type" class=""/>

            </div>

            <div class="form-group row">
                <div id="translation_tags"></div>

            </div>
            <div class="form-group row">

                {{form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
</section>