<section class="box">

                    <header class="panel_header">
                        <h2 class="title pull-left">Single Image Lesson</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle fa fa-chevron-down"></i>
                            <i class="box_close fa fa-times"></i>
                        </div>
                    </header>
                    <div class="content-body">
                        <form action="{{url_for('LessonView:single_image_lesson')}}" method="POST"
                              enctype="multipart/form-data">
                            {{ form.csrf_token }}


                            <div class="form-group row">
                                <label>Image</label>
                                <input type="file" name="image" id="image" class="form-control" required/>

                            </div>

                            <input type="hidden" name="group_id" value="{{group.group_id}}" required />

                            <div class="form-group row">
                                <label>Bottom Word</label>
                                <input type="text" name="bottom_word" id="bottom_word" class="form-control" required/>
                            </div>
                            <div class="row" id="singleImageLessonWordDisplayDiv"></div>
                            <div class="form-group row">

                                {{form.submit(class="btn btn-primary")}}
                            </div>
                        </form>
                    </div>
                </section>