<section class="box">

    <header class="panel_header">
        <h2 class="title pull-left">Write this in ______ ?</h2>
        <div class="actions panel_actions pull-right">
            <i class="box_toggle fa fa-chevron-down"></i>
            <i class="box_close fa fa-times"></i>
        </div>
    </header>
    <div class="content-body">
        <form action="{{url_for('LessonView:write_this')}}" method="POST"
              enctype="multipart/form-data">
            {{ form.csrf_token }}
            <input type="hidden" value="{{group.group_id}}" name="group_id">

            <div class="form-group row">
                <label>Write this in _____ ? (e.g. in English, Russian)</label>
                <input type="text" name="sentence" class="form-control" required/>

            </div>


            <div class="form-group row">
                <label>Correct Sentence</label>
                <input type="text" name="correct_sentence" class="form-control" required/>

            </div>

            <div class="form-group row">
                <label>Sound</label>
                <input type="file" name="sound" class="form-control" required/>

            </div>

            <div class="form-group row">
                <label>Words - separated by semicolon(;) for tags</label>
                <input type="text" placeholder="words separated by semicolon (;)" name="tags" id="tags_write" class="form-control" required/>
                <div class="row" id="writeThisTags"></div>
                <div class="row" id="writeThisTagsWords"></div>

            </div>
            <div class="form-group row">

                {{form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
</section>